#root {
  width: 92%;
  max-width: 1320px;
  margin: auto;
  position: relative;
}

body {
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

/* Common css */
.flex {
  display: flex;
}

.gap-12 {
  gap: 12px;
}

.items-center {
  align-items: center;
}
.items-start {
  align-items: start;
}
.justify-center {
  justify-content: center;
}
.flex-column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.text-dark {
  color: #202020;
}